{plugins, [
    pc
]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/erlfdb_nif.so", ["c_src/*.c"]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -I/usr/local/include -Ic_src/ -g -Wall -Werror"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CXXFLAGS", "$CXXFLAGS -I/usr/local/include -Ic_src/ -g -Wall -Werror"},
    {"win32",
        "CFLAGS", "$CFLAGS /I\"c:/Program Files/foundationdb/include\" /O2 /DNDEBUG"},
    {"win32",
        "CXXFLAGS", "$CXXFLAGS /I\"c:/Program Files/foundationdb/include\" /O2 /DNDEBUG"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lfdb_c"},
    {"win32",
        "LDFLAGS", "$LDFLAGS /LIBPATH:\"c:/Program Files/foundationdb/lib/foundationdb\" fdb_c.lib"}
]}.

{profiles, [
    {devcontainer, [
        {eunit_opts, [
            {sys_config, "devcontainer.config"}
        ]}
    ]},
    {win32_external_fdbserver, [
        {eunit_opts, [
            {sys_config, "win32_external_fdbserver.config"}
        ]}
    ]}
]}.

{eunit_opts, [
    debug_info,
    verbose
]}.
