services:
  erlfdb:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ERLANG_VERSION: "24"

        # This should always match the value in fdb.image
        FDB_VERSION: "6.2.29"

    environment:
      # This needs to match the name of the FoundationDB service below
      FDB_COORDINATOR: fdb

      # The location where the Dockerfile installs the FDB cluster file
      # retrieved from the `fdb` image. CouchDB looks for the cluster file in
      # this location by default. If you want to install it somewhere else you
      # you need to change "[erlfdb] cluster_file" and ERL_ZFLAGS to match.
      FDB_CLUSTER_FILE: /usr/local/etc/foundationdb/fdb.cluster

      # The test suite will default to trying to start its own fdbserver
      # process. This environment variable tells it to use the fdbserver
      # running in the `fdb` image instead. Quite a hacky solution.
      ERL_ZFLAGS: "-erlfdb test_cluster_file <<\\\"/usr/local/etc/foundationdb/fdb.cluster\\\">>"

    volumes:
      # Mounts the project folder to '/usr/src/erlfdb'. The target path inside
      # the container should match what your application expects. In this case,
      # the compose file is in a sub-folder, so you will mount '..'. You would
      # then reference this path as the 'workspaceFolder' in
      # '.devcontainer/devcontainer.json' so VS Code starts here.
      - ..:/usr/src/erlfdb:cached

    network_mode: service:fdb

  fdb:
    image: foundationdb/foundationdb:6.2.29
